
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300..900;1,300..900&family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Fraunces", serif;
  --font-body: "Poppins", sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
